{% extends "base.html" %}

{% block title %}
Shop
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='css/const.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/shop.css')}}">
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type=text/javascript src="{{url_for('static', filename='js/shop.js')}}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='js/jquery-2.2.2.min.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="list_products">
            {% if products|length > 1 %}
                {% for product in products %}
                    <div class="product">
                        <img src="{{ url_for('static', filename = 'images/example.jpeg') }}" width="180" height="180" alt="{{ product.name }}" title="{{ product.name }}" border="0">
                        <h2>{{ product.name }}</h2>
                        <p><strong>${{ product.price }}</strong> {{ product.count}} left</p>
                        <div class="description">
                            <p>{{ product.description }}</p>
                        </div>
                        <p>Amount: 
                            <input id = "amount_input{{ product.id }}" type="number" min = 1 max={{ product.count }} value="1">
                        </p>
                        {% if current_user.is_authenticated %}
                        <button type="button" onClick="sendToCart(this.id)" id = "send_button{{ product.id }}" class="btn btn-success">Add to cart</button>
                        {% else %}
                        <a href="/signin">
                            <button type="button" id = "send_button{{ product.id }}" class="btn btn-danger">Need sign!</button>
                        </a>
                        {% endif %}
                    </div>
                {% endfor %}
            {% else %}
                <h3>The lazy admin hasn't added anything yet..</h3>
            {% endif %}
        </div>
    </div>


{% endblock %}